.shuttle-data-table-header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shuttle-data-order-list {
  min-width: 320px;
  .ant-list-items {
    max-height: 260px;
    overflow-y: auto;
  }
}
