.data-schema-editor {
  display: flex;

  .table-header-required {
    &::before {
      content: '*';
      color: red;
      margin-right: 4px;
    }
  }

  .data-schema-editor-fields {
    flex: 1;
    width: 0;
    overflow-y: auto;
  }

  .data-schema-editor-detail {
    width: 30%;
    min-width: 300px;
    border-left: 1px solid var(--ant-color-border);
    padding: 0 1rem;
    overflow-y: auto;
  }
}
